.header-text-container {
    padding: 1rem 0;
    .header {
        color:  #619350;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none solid rgb(97, 147, 80);
        font-weight: 600;
    }
}
.sub-header-container {
    padding: 1rem 0;
    .sub-header {
        color: black;
        font-size: .8rem;
        text-transform: uppercase;
    }
}