.location-marker, .project-type-marker {
    .default, .Infrastructure {
        fill: #1b2661;
    }
    .Building {
        fill: #fdce06;
    }
    .Vehicle {
        fill: #318bd6;
    }
}

.project-type-marker {
    padding-left: 4px;
}