#project_filters_panel {
    .stats-container {
        opacity: .7;
        font-size: .7rem;
        padding: 1.5rem 1rem;
    }
    .input-group-sm {
        input {
            border-radius: 0;
        }
    }
    .project-types-container {
        padding-left: 0.5rem;
        .form-check {
            margin-bottom: 0.5rem;
            .form-check-label {
                line-height: 2;
                font-weight: 600;
            }
        }
    }

    .proximity-slider {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      .proximity-slider-track {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;        
        flex-wrap: nowrap;
        .proximity-slider-track-left {
          width: 55%;
          height: 2px;
          background: #619350;
          left: 0;
          display: inline;
        }
        .proximity-slider-track-thumb {
          min-width: 20px;
          min-height: 20px;
          width: 10%;
          background: #619350;
          border-radius: 100%;
          display: inline;
        }
        .proximity-slider-track-right {
          width: 35%;
          height: 2px;
          background: #efefef;
          right: 0;
          display: inline;
        }
      }
      .proximity-slider-ticks {
         width: 100%;
         height: 50%;
      }
    }
}
