#welcome_panel_content {
    padding: 4.5rem .5rem 1rem .5rem;
    .block-text-container {
        padding: 1rem 0;
    }
    .icon-container {
        padding: 1rem 0;
        .flush-left {
            padding-left: 0;
        }
        .location-marker {
            svg {
                max-height: 32px;
                max-width: 32px;
            }
        }
    }
    .btn-container {
        padding: 1.5rem 0;
    }
}